@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="thank-you-section">
    <div class="container">
        <h1>Thank You!</h1>
        <p>Your message has been sent successfully. We will get back to you soon.</p>
    </div>
</section>

<style>
    .thank-you-section {
        padding: 100px 0;
        text-align: center;
    }

    .thank-you-section h1 {
        font-size: 2em;
        font-weight: 700;
        color: #333;
    }

    .thank-you-section p {
        font-size: 1.2em;
        color: #666;
    }
</style>